*{
    margin: 0;
    padding: 0;
}

.navbar-profile-image{
    width: 40px;
    height: 40px;
    display: inline-block;
}

body{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-default{
    height: 10%;
}

.home-screen-header{
    border-bottom: 2px solid black;
}

.edit-profile-container{
    margin-top: 30px;
}

legend{
    text-align: center;
    border-bottom: 1px solid black;
}

/*.update-image-container{*/
    /*border: 1px solid black;*/
    /*padding: 5px;*/
/*}*/

.profile-image-box{
    width: 200px;
    height: 250px;
    border: 1px solid black;
}

.home-screen-container{
    margin-top: 30px;
}

.pending-requests-name{
    text-align: center;
    font-weight: bold;
}

.img-small{
    width: 75px;
    height: 75px;
    margin: auto;
}

/*.friend-profile-pic{*/
    /*width: 75px;*/
    /*height: 75px;*/
/*}*/