<div ng-include="'partials/userHeader.html'"></div>

<div class="container">
            <!--TODO: Add Header-->
    <div class="row well col-lg-12">
        <h3>Change Password</h3>
    </div>

    <div class="row">
        <div class="well col-md-6 col-md-offset-3">
            <form class="form-horizontal" name="change-password" ng-submit="changePassword()">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="old-password">Old Password:</label>

                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="old-password"
                               placeholder="old password" ng-model="passwordData.oldPassword" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="new-password">New Password:</label>

                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="new-password"
                               placeholder="password" ng-model="passwordData.newPassword" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="confirm-password">Confirm Password:</label>

                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="confirm-password"
                               placeholder="password" ng-model="passwordData.confirmPassword" required/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="Save Changes"/>
                </div>

            </form>
        </div>
    </div>
</div>

