<div class="navbar navbar-default navbar-fixed-top" ng-controller="UserHeaderController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href=""> Social Network </a>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn-sm btn-default" type="button"> Search </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/users/feeds">
                        <img class="img-responsive navbar-profile-image"
                             ng-src="{{ownInfo.profileImageData || 'img/no_avatar.png'}}"/>
                        <span><strong>{{ownInfo.username}}</strong></span>
                    </a>
                </li>
                <li><a href="#/users/feeds">Home</a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Requests <span ng-if="hasPendingRequests" class="badge">{{requestsCount}} </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="request in pendingRequests">
                            <div>
                                <img ng-src="{{request.user.profileImageData || 'img/no_avatar.png'}}" class="img-thumbnail img-small" alt=""/>
                            </div>
                            <div class="pending-requests-name"> {{request.user.name}} </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="" ng-click="approveFriendRequest(request)" class="btn btn-info btn-sm">Accept</a>
                                </div>
                                <div class="col-md-5">
                                    <a href="" ng-click="rejectFriendRequest(request)" class="btn btn-info btn-sm">Decline</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/users/edit-profile">Edit Profile</a>
                </li>
                <li>
                    <a href="#/users/change-password">Change Password</a>
                </li>
                <li>
                    <a href="#" ng-click="Logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>